[submodule "vim/bundle/python_ifold"]
	path = vim/bundle/python_ifold
	url = https://github.com/vim-scripts/python_ifold.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vdebug"]
	path = vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
